#root {
  max-width: 1280px;
  margin: 0 auto;   
  padding: 20px;
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start; 
  align-items: flex-start;
}


.CharacterCard {
  border: solid 1px white;
  border-radius: 5px;
  padding: 15px;
  width: 250px;       
  min-height: 220px;   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TitleClass{
  text-align: center; 
}